-- =============================================
-- GamaClaw Database Schema
-- Run this in Supabase SQL Editor
-- =============================================

-- USERS TABLE
create table if not exists users (
  id uuid default gen_random_uuid() primary key,
  platform_id text not null,
  platform text not null default 'telegram', -- 'telegram' | 'whatsapp'
  name text default '',
  plan text default 'free', -- 'free' | 'pro' | 'business'
  plan_expiry timestamptz,
  messages_today int default 0,
  messages_reset_date date default current_date,
  razorpay_payment_id text,
  stripe_customer_id text,
  created_at timestamptz default now(),
  unique(platform_id, platform)
);

-- MEMORIES TABLE (persistent per-user memory)
create table if not exists memories (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  key text not null,
  value text not null,
  created_at timestamptz default now(),
  unique(user_id, key)
);

-- EXPENSES TABLE
create table if not exists expenses (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  amount numeric not null,
  category text default 'other',
  note text,
  date timestamptz default now()
);

-- MESSAGES TABLE (conversation history)
create table if not exists messages (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  role text not null, -- 'user' | 'assistant'
  content text not null,
  created_at timestamptz default now()
);

-- PRICE ALERTS TABLE
create table if not exists price_alerts (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  item text not null,
  target_price numeric not null,
  url text,
  active boolean default true,
  triggered_at timestamptz,
  created_at timestamptz default now()
);

-- LEADS TABLE
create table if not exists leads (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  name text not null,
  email text,
  source text,
  notes text,
  status text default 'new', -- 'new' | 'contacted' | 'converted' | 'lost'
  created_at timestamptz default now()
);

-- INDEXES for performance
create index if not exists idx_users_platform on users(platform_id, platform);
create index if not exists idx_memories_user on memories(user_id);
create index if not exists idx_expenses_user_date on expenses(user_id, date);
create index if not exists idx_messages_user on messages(user_id, created_at);
create index if not exists idx_leads_user on leads(user_id, created_at);

-- Row Level Security (disable for service key access)
alter table users disable row level security;
alter table memories disable row level security;
alter table expenses disable row level security;
alter table messages disable row level security;
alter table price_alerts disable row level security;
alter table leads disable row level security;

-- REMINDERS TABLE
create table if not exists reminders (
  id uuid default gen_random_uuid() primary key,
  user_id uuid references users(id) on delete cascade,
  text text not null,
  time text not null,
  date date,
  recurring text default 'once',
  day_of_week text,
  active boolean default true,
  last_sent timestamptz,
  created_at timestamptz default now()
);
create index if not exists idx_reminders_user on reminders(user_id, active);
alter table reminders disable row level security;